.container,
.container-2,
.container-3,
.container-4 {
  border: 1px solid red;
  padding: 0px;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.buttons {
  border-top: 1px solid black;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  height: 100px;
}
.buttons2 {
  height: max-content;
}

.buttons div {
  margin: 10px;
}
.btn {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-box-container-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-box-container-2 img {
  height: 150px;
  margin: 10px;
  width: 200px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-container-3 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}

.flex-box-container-3 img {
  height: 150px;
  margin: 10px;
  width: 200px;
}

#covjek {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

#robot {
  box-shadow: 0px 10px 50px rgba(243, 38, 24, 1);
}

#tekst {
  vertical-align: middle;
}

#tekst h1 {
  display: contents;
  font-size: 60px;
  padding-top: 10px;
}

.flex-box-container-4 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}
